@media only screen and (max-width:1920px){
    .psArticleSlideWrapper {max-width: 1818px;margin-left: auto;}
    /* .psArticleSlider > .slick-list.draggable .slick-track{padding-left: 258px;} */
    .psArticleSlider > .slick-list.draggable .slick-track{padding-left: 0px;}
}

@media only screen and (max-width:1880px){

    /* ==== knowledge page ==== */
    .psArticleSlideWrapper {max-width: 1797px; margin-left: auto;}
}

@media only screen and (max-width:1800px){}

@media only screen and (max-width:1728px){
    .main-wrapper{max-width: 1570px;}

    /* ==== Footer ==== */
    .psFooteBox5 {padding-left: 2.4em;}

    /* ==== Contact ==== */
    /* .psformBox2 select{background-position: 40%;} */

    /* ==== Product ==== */
    .psProductInfo{max-width: 1060px; padding: 62px 40px; }
    .psProductContent{row-gap: 40px;}
    .psProductInfo{max-width: 1018px;}


    /* ==== knowledge page ==== */
    .psArticleSlideWrapper {max-width: 1652px; margin-left: auto;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 225px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
}

@media only screen and (max-width:1700px){
        /* ==== knowledge page ==== */
    .psArticleSlideWrapper {max-width: 1625px; margin-left: auto;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 225px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
}
@media only screen and (max-width:1600px){
    .main-wrapper{max-width: 1400px;}

    /* ==== Contact ==== */
    /* .psformBox2 select{background-position: 40%;} */
    .contactNumPrefix{overflow: hidden;}
    .contactNumPrefix .psContactSelect{width: 100%; flex: 1 1 80px;}
    .contactNumPrefix .psContactSelect select{width: 80px;}

    /* ==== Product ==== */
    .psProductImg {max-width: 481px;width: 100%;}
    .psProductInfo {max-width: 869px;}

    /* ==== knowledge page ==== */
    .psArticleSlideWrapper{max-width: 1500px;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 200px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
}

@media only screen and (max-width:1536px){
        /* ==== knowledge page ==== */
    .psArticleSlideWrapper{max-width: 1460px;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 200px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}

    .psHomeProjectSlider > .slick-list.draggable .slick-track .slick-slide{ margin: 0px 12px;}
}
@media only screen and (max-width:1500px){
    .menuSec{max-width: 72%;}
}

@media only screen and (max-width:1440px){
    :root{
        /* =====================
        Typography
        ===================== */
        --fs-base: 16px; /* Base Value: 16 */

        --fs-h1: 48px;
        --fs-h2: 40px;
        --fs-h3: 32px;
        --fs-h4: 24px;
        --fs-h5: 20px;
        --fs-sh: 18px;
        --fs-body: 16px;
        --fs-caption: 14px;
    }

    .main-wrapper{max-width: 1280px;}
    .psComPageInfo{max-width: 569px; width: 100%;}

    /* ==== footer ==== */
    .psFooter {background-repeat: no-repeat;background-position: -5%;background-size: 51%;}
    .psFooteBox1{max-width: 129px; width: 100%;}
    .psFooteBox2{max-width: 175px; width: 100%;}
    .psFooteBox1{max-width: 189px; width: 100%;}
    .psFooteBox1{max-width: 284px; width: 100%;}
    .psFooteBox1{max-width: 117px; width: 100%;}
    .psFooteBox5 {padding-left: 2em;}

    /* ==== Contact Page ==== */
    .psContactInfo{max-width: 565px;}
    .psContactForm{max-width: 632px;}
    .psFormRow{gap: 24px 16px;}
    .psFormRow .psformBox{max-width: calc(50% - 8px);}

    /* .psformBox2 select{background-position: 40%;} */
    .contactNumPrefix{overflow: hidden;}
    .contactNumPrefix .psContactSelect{width: 100%; flex: 1 1 80px;}
    .contactNumPrefix .psContactSelect select{width: 80px;}

    .psFaqHeading{max-width: 582px;}
    .psFaqHeading p{max-width: 404px;}
    .psFaqBox{max-width: 640px;}

    /* ==== Product page ==== */
    .psProductContent{row-gap: 24px;}
    .psProductImg{max-width: 518px;}
    .psProductInfo {max-width: 737px; padding: 2em 2.5em;}

    /* ==== Knowledge page ==== */
    .psAboutKnowImage {max-width: 598px;width: 100%;}
    .psAboutKnowText {max-width: 565px;}
    .psArticleSlideWrapper{max-width: 95.5%;}
    /* .psArticleSlider > .slick-list.draggable .slick-track{padding-left: 198px;} */
    .psArticleSlider > .slick-list.draggable .slick-track{padding-left: 0px;}
    /* .psArticleText{max-width:309px;} */
    .psSolutionText{max-width: 817px;}
    .psAllArtText{max-width: 383px;}

    /* ==== Solution page ==== */
    .psEnergySave{padding: 58px 0;}
    .psTabInfo {max-width: 662px;padding-left: 2.5em;}
    .psHotWaterInfo {max-width: 518px;}
    .psHotWaterImg {max-width: 708px;}
    .psCostumSolText {max-width: 598px;}

    .psCustomSolHead{max-width: 46%;}

    .psVmSmallBlock {max-width: 623px;}

    .psCerifiedBox{padding: 24px 0;}
    
}

@media only screen and (max-width:1400px){
    .main-wrapper{padding: 0 30px;}
    .psFooter {background-repeat: no-repeat; background-position: -5%; background-size: 63%;}

    .psArticleSlideWrapper{max-width: 100%; }
    .psArticleSlideWrapper ul{padding-left: 30px; }

    /* ==== Contact ==== */
    .psFaqContent{display: flex; justify-content: space-between;}
}

@media only screen and (max-width:1366px){

    .psContactContainer{gap: 40px;}

    .psArticleSlideWrapper ul {padding-left: 68px;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 173px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}

    .psSolutionText {max-width: 710px;}
    .psAboutKnowText{padding-right: 20px;}

    .psProductImg {max-width: 35%;}
    .psProductInfo {max-width: 63%;padding: 0px 40px;}

    .psGlobTextBLock{padding: 2.375em;}
    .psPartnerInfoBlock{padding: 2.375em;}
}

@media only screen and (max-width:1365px){
    .menuIcon,.menuClose,.showInHamMenu{display: block;}
    .menuIcon{margin: 0;}
    .hideInHamMenu{display: none;}
    .menuCont{opacity: 0;align-items: start;position: fixed;z-index: 99;background-color: white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;top: 0;right: -9999px;flex-direction: column;height: 100%;width: 100%;max-width: 400px;padding: 1em 1em 1em 2em; transition: all 0.5s;}
    .menuCont.active{opacity:1;right:0;}
    .menuSec{justify-content:end;display:flex;align-items:center;gap:2em;}
    .headMenu > nav > ul{flex-direction:column;margin-bottom:2em;margin-top:3em;}
    .headRgt{flex-flow:row wrap;}
}
@media only screen and (max-width:1280px){
    :root{
        /* =====================
        Typography
        ===================== */
        --fs-base: 16px; /* Base Value: 16 */

        --fs-h1: 40px;
        --fs-h2: 32px;
        --fs-h3: 26px;
        --fs-h4: 18px;
        --fs-h5: 18px;
        --fs-sh: 18px;
        --fs-body: 16px;
        --fs-caption: 14px;


        --secGap: 50px;
    }

    .header{padding: 1.5em 0;}
    .mainBody {padding-top: 96px;}

    /* ==== Contact ==== */
    .psFaqHeading p { max-width: 100%; padding-right: 42px;}

    .psArticleSlideWrapper ul {padding-left: 19px;}
    .psAllArtText {max-width: 93%; padding-right: 60px}

    .psTabInfo {padding-right: 2em;}

    .psVmSmallBlock {max-width: 560px;}
    .psVmLargeBlock {max-width: 100%;}
    .psAboutStory{padding: 6.75em 0 6.75em;}
    .psAboutStoryText{max-width: 540px;}
    .psGlobTextBLock {padding: 2.375em 1.88em;}
    .psPartnerInfoBlock {padding: 2.375em 1.88em;}

    .psOurProHead {margin-bottom: 2.31em !important;}
}

@media only screen and (max-width:1200px){
    /* ==== Contact ==== */
    .psContactInfo, .psContactForm{max-width: calc(50% - 16px);}
    /* .psformBox2 select { background-position: 52%;} */
    .psContactDetails{margin-top: 3em;}
    .psFormRow input, .psFormRow select, .psFormRow textarea{font-size: 14px;}
    .psContactDetails{row-gap: 15px;}


    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 160px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
    .psSolutionText {max-width: 650px; padding: 40px 40px 280px 40px;}


    .psVmSmallBlock {max-width: 480px;}
    .psVmHeading{padding: 0 60px;}
}

@media only screen and (max-width:1160px){
    .psFooter {background-repeat: no-repeat; background-position: top left; background-size: 100% 100%;}

    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 160px;}
}

@media only screen and (max-width:1100px){  
    .whySolarisSec, .whatWeOfferSec {padding-bottom: 80px;}
    .whySolarisSec .slick-dots{bottom: -35px;}
    .whatWeOfferSec .slick-dots{bottom: -35px;}
    .whySolarisCard, .whatWeOfferCards ul li{margin: 10px;}

    .psFooterInfo{justify-content: start;}
    .psFooterInfo{flex-flow: row wrap;gap: 2em;}
    .psFooterInfo > *{max-width: calc(33.333% - 1.4em);}
    .psFooteBox5 {padding-left: 0em;}

    .psHotWaterContent{gap: 30px;}

    .psCustomSolHead{padding-right: 3em;}
    .psCostumSolText{padding-left: 3em;}

    .psProductContent {row-gap: 20px;}
    .psProductInfo {max-width: 68%;padding: 2em;}
    .psProductImg {max-width: 30%;}

    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 148px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
}

@media only screen and (max-width:1024px){
    .psContactContainer {gap: 20px;}

    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 144px;}

    .psProudctDetails{flex-wrap: wrap; gap:20px}
    .psProductImg{max-width: 100%; background-color: var(--white); padding: 20px 0; border-radius: 16px;}
    .psProductImg > img{max-width: 40%; margin: auto;}
    .psProductInfo{max-width: 100%; padding: 30px;}

    .psVmSmallBlock {max-width: 47%;}
    .psVmHeading {padding: 40px}

    .psGlobTransBlock{flex-direction: column;}
    .psPartnerInfoBlock{max-width: 100%; padding: 50px 2.375em;}
    .psPartnerInfoBlock ul{display: flex; column-gap: 20px; flex-wrap: wrap;}
    .psPartnerInfoBlock > ul > li{max-width: calc(50% - 10px);}
}

@media only screen and (max-width:991px){
    .psSolutionPageHead{padding: 8.06em 0 14.06em;}

    .psArticleSlideWrapper ul {padding-left: 30px;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 177px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}

    .psCustomSol{padding: 3.15em 0;}
    .psCustomSolInfo{flex-flow: row wrap;}
    .psCustomSolHead{max-width: 100%; padding-right: 0; padding-bottom: 2em; border-right: 0;}
    .psCostumSolText{max-width: 100%; border-top: 1px solid var(--gray-200); border-left: 0; padding: 0; padding-top: 2em;}

    li.psArtSlideInfo > .psOurProSlideBox > img{aspect-ratio: inherit;}
    li.psArtSlideInfo:hover .psOurProSlideBox > img{aspect-ratio: inherit;}
}

@media only screen and (max-width:950px){

    /* ==== Contact ==== */
    .psformBox2 select{background-size: 7%;}
    .contactNumPrefix .psContactSelect select {width: 63px;}
    .contactNumPrefix .psContactSelect select{background-position: 79%; background-size: 19%;}


    .psArticleText{bottom: 8px; opacity: 1;}
    .psAllArtText  {max-width: 95%; bottom: 8px; opacity: 1;}
    .psArtSlideInfo:hover .psArticleText, .psAllArtBoxInfo:hover .psAllArtText {bottom: 8px; opacity: 1;}

    .psAllArtBoxInfo {max-width: calc(50% - 7px);overflow: hidden;border-radius: 14px;}
    .psAllArtText {max-width: 93%;padding-right: 14px;}

    .psSolutionText{max-width: 540px;}


    .psNavTabs{max-width: 100%; gap: 1.437em;  overflow: auto; justify-content: start;} 
    .psTabInfoBox{flex-wrap: wrap-reverse;}
    .psTabImg, .psTabInfo{max-width: 100%;}
    .psTabInfo{padding: 2em;}
    .psHotWaterContent{flex-wrap: wrap; gap: 50px;}
    .psHotWaterInfo, .psHotWaterImg{max-width: 100%;}
}

@media only screen and (max-width: 915px) {
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 162px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
}

@media only screen and (max-width:820px){
    :root{
        /* =====================
        Typography
        ===================== */
        --fs-base: 16px; /* Base Value: 16 */

        --fs-h1: 32px;
        --fs-h2: 28px;
        --fs-h3: 22px;
        --fs-h4: 18px;
        --fs-h5: 18px;
        --fs-sh: 18px;
        --fs-body: 14px;
        --fs-caption: 14px;


        --secGap: 50px;
    }

    .header {padding: 1em 0;}
    .mainBody {padding-top: 82px;}

    /* ==== Contact ==== */
    .psContactContainer{flex-direction: column;}
    .psContactInfo, .psContactForm {max-width: calc(100% - 0px);}
    .psContactDetails {margin-top: 2em;}
    .psContactForm {margin-top: 3em;}
    .psFormRow {gap: 16px;}
    .psformBox2 select { background-size: 4%;}
    /* background-position: 28%; */

    .psFaqContent{flex-wrap: wrap; flex-direction: column;}
    .psFaqHeading{max-width: 100%;}
    .psFaqHeading p {max-width: 100%; padding-right: 0px;}
    .psFaqBox{max-width: 100%; margin-top: 2em;}

    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 140px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
    .psAboutKnowText{padding-right: 20px; margin-left: 50px;}
}

@media only screen and (max-width:768px){
    .psComPageHead{padding: 6em 0;}

    .psFooter {padding-top: 3.12em;}
    .psFootBox > h3{margin-bottom: 1em;}
    .psFootBox > ul > li:not(:last-child) {margin-bottom: 0.8em;}

    .psFooterInfo > *{max-width: calc(50% - 1.4em);}
    .psFooteBox5{padding-left:0;}

    /* ==== knowledge page ==== */
    .psAboutKnowledge{flex-flow: row wrap-reverse;}
    .psAboutKnowText {max-width: 100%; margin-left: 0; padding: 30px;}
    .psAboutKnowImage{max-width: 100%;}
    .psAboutKnowImage img{object-fit: cover; aspect-ratio: 16/9;}

    .psAboutCompany {padding-bottom: 80px;}

    .psArticleSlideWrapper ul {padding-left: 25px;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 138px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}

    /* .psArticleText {max-width: 95%;} */
    .psArtSlideInfo:hover .psArticleText {bottom: 8px;opacity: 1;}

    .psSolutionText {max-width: 100%; padding: 50px 30px;}

    .psSolutionPageHead{padding: 8.06em 0 8.06em;}
    
    .psVmSmallBlock {max-width: 46%;}
    .psVmHeading {padding: 50px 30px;}

    .psProductInfo > h2{padding-right: 0;}

    .psCerifiedBox{padding: 50px 0;}

    .psOurProHead {margin-bottom: 2.31em !important;}
}

@media only screen and (max-width: 720px){
    .psArticleSlideWrapper ul {padding-left: 30px;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 215px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
}

@media only screen and (max-width: 700px){
    .psArticleSlideWrapper ul {padding-left: 30px;}
    /* .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 215px;} */
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
}


@media only screen and (max-width:610px){
    .psFooterInfo > *{max-width: 100%;}
    .psFooteBox1,.psFooteBox2{max-width: calc(50% - 1.4em);}

    .psArticleSlideWrapper {max-width: 95%;}    
    .psArticleSlideWrapper ul {padding-left: 0px;}
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0px;}
    .psArticleSlider > .slick-list.draggable .slick-track .slick-slide{margin: 0 16px;}
    .psHomeProjectSlider > .slick-list.draggable .slick-track .slick-slide{margin: 0 16px;}


    .psAllArtBox {padding-bottom: 60px; justify-content: center;}
    .psAllArtBox .slick-slider button{top: auto; bottom: -21px;}
    .psAllArtBox .slick-slider .slick-prev, .psAllArtBox .slick-slider .slick-next{left: auto; }
    .psAllArtBox .slick-slider .slick-prev{right: calc(50% + 26px); background-image: url("data:image/svg+xml,%3Csvg width='32' height='20' viewBox='0 0 32 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 10C32 10.6137 31.4883 11.1111 30.8571 11.1111L3.90196 11.1111L11.0938 18.1032C11.5402 18.5371 11.5402 19.2406 11.0938 19.6746C10.6475 20.1085 9.9239 20.1085 9.47759 19.6746L0.334733 10.7857C-0.11158 10.3518 -0.11158 9.64824 0.334733 9.21433L9.47759 0.325437C9.9239 -0.108479 10.6475 -0.108479 11.0938 0.325437C11.5402 0.759353 11.5402 1.46287 11.0938 1.89679L3.90196 8.88889L30.8571 8.88889C31.4883 8.88889 32 9.38635 32 10Z' fill='black'/%3E%3C/svg%3E");}
    .psAllArtBox .slick-slider .slick-next{right: calc(50% - 52px); background-image: url("data:image/svg+xml,%3Csvg width='32' height='20' viewBox='0 0 32 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 9.38635 0.511675 8.88889 1.14286 8.88889L28.098 8.88889L20.9062 1.89679C20.4599 1.46287 20.4599 0.759352 20.9062 0.325438C21.3525 -0.108479 22.0761 -0.108479 22.5224 0.325438L31.6653 9.21432C32.1116 9.64824 32.1116 10.3518 31.6653 10.7857L22.5224 19.6746C22.0761 20.1085 21.3525 20.1085 20.9062 19.6746C20.4599 19.2406 20.4599 18.5371 20.9062 18.1032L28.098 11.1111L1.14286 11.1111C0.511675 11.1111 0 10.6136 0 10Z' fill='black'/%3E%3C/svg%3E");}
    .psVmSmallBlock{max-width: 100%;}
    .psAllArtBoxInfo{max-width: 100%;}
    .mainBody{padding-top:72px;}
    .menuSec{gap:1em;}
    .menuIcon,.menuClose{max-width:30px;}
    .psArticleSlider .slick-dots{bottom: -30px;}
    .psArticleSlideWrapper {max-width: 100%;padding: 0 15px;}
}

@media only screen and (max-width:575px){
    .psLateArticleBox{padding-bottom: 70px;}
    .psHomeProjectSlider > .slick-list.draggable .slick-track .slick-slide {border-radius: 14px !important; overflow: hidden;}
    .psHomeProjectSlider > .slick-dots {bottom: -35px; }
}

@media only screen and (max-width:550px){
    :root{
        /* =====================
        Typography
        ===================== */
        --fs-base: 16px; /* Base Value: 16 */

        --fs-h1: 28px;
        --fs-h2: 18px;
        --fs-h3: 20px;
        --fs-h4: 16px;
        --fs-h5: 16px;
        --fs-sh: 16px;
        --fs-body: 14px;
        --fs-caption: 14px;


        --secGap: 50px;
    }

    .psSolutionPageHead > div > .psComPageInfo{padding: 20px;}
    .psEnergySave {padding: 50px 0;}
    .psEnergySaveHeading{margin-bottom: 1.5em;}
    .psEnergyCapHead{margin-bottom: 1em;}
    .psCostumSolText{padding-top: 1.5em;}

    .psEnergyCapHead{gap: 0.5em;}

    .psProductImg > img {max-width: 95%;margin: auto;}

    .psNavTabs > li > a{font-size: 18px;}


    .whoWeserveCardTxt {background-color: var(--white);padding: 1.5em;}
}

@media only screen and (max-width:500px){

    .psFooter {background-size: cover;}

    .psFormRow .psformBox {max-width: calc(100% - 0px);}
    .contactNumPrefix .psContactSelect select {width: 75px;}
    .contactNumPrefix .psContactSelect select {background-position: 98%; background-size: 21%;}


    .psArticleSlideWrapper {max-width: 100%;padding: 0 15px;}
    .psArticleSlider > .slick-list.draggable .slick-track {padding-left: 0;}
    .psArticleText { bottom: 8px; opacity: 1;}
    .psArtSlideInfo:hover .psArticleText {bottom: 8px; opacity: 1;}

    .psNavTabs {max-width: 100%;gap: 1.5em;}
}

@media only screen and (max-width:410px){
    .psProBtnBox{flex-wrap: wrap;}
    .psProEnqBtn {width: 100%; text-align: center;}
    .psProDiscBtn {width: 100%; text-align: center;}
}

@media only screen and (max-width:400px){
    .psFooteBox1,.psFooteBox2{max-width: 100%;}

    .psNavTabs {gap: 0.437em;}

    .psNavTabs > li {padding: 10px 5px;}
}

@media only screen and (max-width:380px){
    :root{
        /* =====================
        Typography
        ===================== */
        --fs-h2: 17px;
    }

    .main-wrapper{padding: 0 10px;}

    /* .psformBox2 select{background-position: 36%;} */
    .contactNumPrefix .psContactSelect select {background-position: 86%; background-size: 15%;}
    .psContactBtnGroup {flex-wrap: wrap;}
    .psSendBtn, .psMeetingBtn  {width: 100% !important;}

    .psDetailItem > span:first-child {min-width: 23px;}

    .psAboutKnowText {max-width: 100%; margin-left: 0; padding: 15px;}
    .psSolutionText{padding-left: 10px; padding-right: 10px;}
}


@media only screen and (max-width:360px){
    .psVmHeading {padding: 30px 15px;}
}

