/* Header */
.header{padding: 2.5em 0; position: fixed; top: 0; z-index: 1000;}
.headerSec{display: flex; justify-content: space-between; align-items: center;}
.siteLogo{max-width: 204px;}
.headMenu > nav > ul{display: flex; gap: 33px;}
.headMenu > nav > ul > li a{color: var(--primary-950); letter-spacing: 0.005em;}
.headRgt{display: flex; align-items: center; gap: 24px;}
.header.stickyHead {width: 100%; background: var(--white); box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.mainBody{padding-top:128px;}

 
/* ==== page common banner */
.psComPageHead{background-repeat: no-repeat; background-size: cover; background-position: center; padding: 7.93em 0 6.687em;}
.psComPageInfo{max-width: 720px; width: 100%;}
.psComPageInfo h1{font-size: var(--fs-h1); color: var(--white); margin-bottom: 0.333em; letter-spacing: 0.005em;}
.psComPageInfo p{color: var(--white); line-height: 1.3; letter-spacing: 0.005em;}


/* ==== footer ==== */
.psFooter{padding-top: 5.8em;background-image: url(../images/footBg.png);background-repeat: no-repeat;background-position: left;background-size: 51%;}
.psFooterInfo{display: flex; justify-content: space-between;}
.psFootBox{max-width: calc(20% - 1em); width: 100%;}
.psFooteBox5{padding-left: 6.4em;}
.psFootBox > h3{font-size: var(--fs-sh); color: var(--gray-900); font-weight: var(--fw-medium); margin-bottom: 2em;}
.psFootBox > ul > li:not(:last-child) {margin-bottom: 1em;}
.psFootBox > ul > li > a{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; color: var(--gray-800);}
.psFooteBox3 .psCompanyLinks > li > .psfoottEmail{text-decoration: underline;}
.psFootNewLetter > input{padding: 0.59em  0.5em 0.5em 1em; border: none; border-bottom: 1px solid var(--gray-200); font-family: var(--primary-font);}
.psFootNewLetter input::placeholder{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; font-family: var(--primary-font);}
.psFootNewLetter > .psFootMailIcon{position: absolute; top: 0; right: 0.5em;}
.psCertifiedLogo{max-width: 61px; margin-top: 2em;}
.psBottomFooter{border-top: 1px solid var(--gray-200); padding: 1.8em 0 2.37em; margin-top: 2.75em;}
.psBottomFooter > p{text-align: center; color: var(--gray-600);}



/* ==== Contact Page ==== */
.psContactSection {background-color: var(--primary-950);color: var(--gray-100);}
.psContactContainer {display: flex;flex-wrap: wrap;justify-content: space-between;}
.psContactInfo {flex: 1; max-width: calc(50% - 83px); width: 100%;}
.psContactInfo h2 {color: var(--primary-50);font-size: var(--fs-h1);margin-bottom: 16px; letter-spacing: 0.005em;}
.psContactInfo p {color: var(--primary-100);font-size: var(--fs-body);line-height: 1.3; letter-spacing: 0.005em;}
.psContactDetails{margin-top: 5em; display: flex; row-gap: 24px; flex-direction: column;}
.psContactDetails .psDetailItem {display: flex;align-items: center;font-size: var(--fs-body); gap: 21px;}
.psDetailItem > span > a{color: var(--primary-50); font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em;}

.psContactForm {flex: 1; max-width: calc(50% - 83px); width: 100%;}
.psFormRow {display: flex;row-gap: 1.8em; flex-wrap: wrap; justify-content: space-between;}
.psFormRow .psformBox{max-width: calc(50% - 1em); width: 100%;}
.psFormRow.psFull {flex-direction: column;}
.psFormRow input,.psFormRow select,.psFormRow textarea {flex: 1;background-color: var(--primary-900);border: none;color: var(--primary-100);padding: 0.59em 1em;border-radius: 4px;font-size: 16px; font-family: var(--primary-font); font-size: var(--fs-body); font-weight: var(--fw-regular); line-height: 1.3; letter-spacing: 0.005em;}
.psformBox2 select{appearance: none; background-image: url(../images/selectdownarrow.svg);background-repeat: no-repeat;background-position: 30%;}
.psFormRow input::placeholder, .psFormRow textarea::placeholder {color: var(--primary-100);}
.contactNumPrefix{background-color: var(--primary-900); border-radius: 4px; display: flex;}
.contactNumPrefix .psContactSelect{max-width: 85px; width: 100%;}
.contactNumPrefix .psContactSelect::after{content: ""; width: 1px; height: 24px; background-color: var(--primary-100); position: absolute; top: 22%; right: 0;display: flex; align-items: center;}
.contactNumPrefix .psContactSelect select{width: 100%; appearance: none;background-image: url(../images/selectdownarrow.svg);background-repeat: no-repeat;background-position: 78%;}
textarea {resize: none;min-height: 120px;}
.psButtonRow {display: flex; gap: 20px; margin-top: 20px; flex-wrap: wrap;}
.psContactBtnGroup{display: flex; gap: 1em;}
.psSendBtn {color: var(--black); border: none; padding: 14px 28px; border-radius: 6px; cursor: pointer; font-weight: 600; transition: 0.3s;}
.psMeetingBtn {background-color: transparent; border: 1px solid var(--gray-700); color: var(--primary-50); padding: 14px 28px; border-radius: 6px; cursor: pointer; font-weight: 600; transition: 0.3s; text-decoration: underline;}


.psFaqSection {background-color: var(--gray-50);}
.psFaqContent{display: flex;}
.psFaqHeading{max-width: 45%; width: 100%;}
.psFaqHeading h2{font-size: var(--fs-h1); color: var(--gray-900); margin-bottom: 26px; letter-spacing: 0.005em;}
.psFaqHeading p{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; color: var(--gray-700);}
.psFaqBox{max-width: 55%; width: 100%;}

.psAccBox{border-bottom: 1px solid var(--gray-200);}
.psAccHeading {color: var(--black); font-weight: var(--fw-medium); padding: 22px 0 19px; cursor: pointer; display: flex; justify-content: space-between; align-items: center;}
.psAccHeading > h3{font-size: var(--fs-h5);}
.psAccHeading.psAccActive{border: none;}
.psAccArrow{width: 24px;}
.psAccHeading:nth-last-child(2) {border-bottom: 0;}
.psAccHeading:nth-last-child(2):hover {border-radius: 0 0 3px 3px;}
.psAccActive.psAccHeading::before {transform: rotate(-180deg);}
.not-active.psAccHeading::before {transform: rotate(0deg);}
.psAccContents {display: none; padding-bottom: 25px; color: #7f8fa4; font-size: 13px; line-height: 1.5;}
.psAccContents > p{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em;}
.psAccRotate {display: inline-block; transition: transform 0.5s;}
.psAccActive .psAccRotate {transform: rotate(180deg);}



/* ==== Product page ==== */
.psProPageHead{background-image: url('../images/productheadbann.png');}
.psProductBox{background-color: var(--gray-50);}
.psProductContent{display: flex; row-gap: 60px; flex-direction: column;}
.psProudctDetails {display: flex; justify-content: space-between;}
.psProductImg{max-width: 500px; width: 100%; }
.psProductInfo{max-width: 1140px; width: 100%; padding: 62px 80px; background-color: var(--white); display: flex; flex-direction: column; justify-content: center; border-radius: 16px;}
.psProductInfo > h2{font-size: var(--fs-h1); color: var(--black); margin-bottom: 46px; letter-spacing: 0.005em;}
.psProductInfo > h2 > sup{font-weight: var(--fw-regular);}
.psProductInfo > p{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; color: var(--black); margin-bottom: 40px;}
.psProBtnBox {display: flex; gap: 8px;}



/* ==== Knowledge page ==== */
.psKnowPageHead{background-image: url('../images/knowheadbann.png');}
.psAboutKnowledge{background-color: var(--gray-50); display: flex;}
.psAboutKnowImage{max-width: 698px; width: 100%;}
.psAboutKnowTextBox{display: flex; flex-direction: column; justify-content: center;}
.psAboutKnowText{max-width: 765px; margin-left: 67px;}
.psAboutKnowText > h2{font-size: var(--fs-h1); margin-bottom: 0.958em;}
.psAboutKnowText > p {color: var(--black); line-height: 1.3; letter-spacing: 0.005em;}

.psKnowSecHeading{max-width: 720px; width: 100%;}
.psKnowSecHeading > h2{font-size: var(--fs-h1); letter-spacing: 0.005em; color: var(--black); margin-bottom: 0.8333em;}
.psArticleSlideWrapper{max-width: 1818px; margin-left: auto;}
.psArticleSlider > .slick-list.draggable .slick-track{padding-left: 258px;}
.psArticleSlider > .slick-list.draggable .slick-track .slick-slide{margin: 0 14px; border-radius: 14px;}
.psArticleSlider > .slick-slider button{top: -10%;}
.psArticleText {max-width: 460px; width: 100%; background: rgba(0, 0, 0, 0.6); border-radius: 13.9062px; margin: auto; position: absolute; left: 0; right: 0; bottom: -50px; opacity: 0; padding: 14px; transition: all 0.5s ease; backdrop-filter: blur(10px);}
.psArticleText > h3{font-size: var(--fs-sh); font-weight: var(--fw-semi-bold); color: var(--white); margin-bottom: 0.777em;}
.psArticleText > p{font-size: var(--fs-body); color: var(--white); line-height: 1.1313; letter-spacing: 0.005em;}
.psArtSlideInfo:hover .psArticleText{bottom: 14px; opacity: 1;}

.psAllArtBox{background-color: var(--gray-50);}
.psAllArtSearch{max-width: 511px; width: 100%; border-radius: 8px; background-color: var(--white); display: flex; padding: 0.75em 0.5em; gap: 1em; margin-top: 3.5em;}
.psAllArtSearchInput input{width: 100%; border: none;}
.psAllArtSearchInput input::placeholder{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; font-family: var(--primary-font);}
.psAllArtBox{display: flex; flex-wrap: wrap; gap: 14px;}
.psAllArtBoxInfo{max-width: calc(33.33% - 14px); overflow: hidden; border-radius: 14px;}
.psAllArtText {max-width: 95%; width: 100%; background: rgba(0, 0, 0, 0.6); border-radius: 13.9062px; margin: auto; position: absolute; left: 0; right: 0; bottom: -50px; opacity: 0; padding: 14px; padding-right: 83px; transition: all 0.5s ease; backdrop-filter: blur(5px);}
.psAllArtText > h3{font-size: var(--fs-sh); font-weight: var(--fw-semi-bold); color: var(--white); margin-bottom: 0.777em;}
.psAllArtText > p{font-size: var(--fs-body); color: var(--white); line-height: 1.1313; letter-spacing: 0.005em;}
.psAllArtBoxInfo:hover .psAllArtText{bottom: 14px; opacity: 1;}
.psSolution{background-image: url('../images/solution-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: center;}
.psSolutionText{max-width: 1030px; width: 100%; height: 100%; background: rgba(0, 0, 0, 60%); padding: 40px 40px 357px 80px; backdrop-filter:blur(10px);}
.psSolutionText > h2{font-size: var(--fs-h1); color: var(--white); margin-bottom: 0.4em;}
.psSolutionText p{font-size: var(--fs-body); color: var(--white); line-height: 1.3; letter-spacing: 0.005em;}
.psSolutionText p:not(:last-child) {margin-bottom: 0.66em;}



/* ==== Solution page ==== */
.psSolutionPageHead{background-image: url('../images/solutionheadbg.png'); padding: 10.06em 0 18.06em;}
.psSolutionPageHead > div > .psComPageInfo{padding: 40px; background-color: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(5px); border-radius: 16px;}

.psEnergySave{padding: 80px 0; background-color: var(--gray-50);}
.psEnergySaveHeading{max-width: 979px; margin-bottom: 2.5em;}
.psEnergySaveHeading > h2{margin-bottom: 16px;}

.psNavTabs{max-width: 646px; width: 100%; display: flex; gap: 2.437em; border-bottom: 1px solid var(--gray-200); margin-bottom: 1.5em;}
.psNavTabs > li{padding: 10px;}
.psNavTabs > li > a{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; color: var(--black);}
.psNavTabs > li.psActive{border-bottom: 2px solid var(--black);}
.psTabPane {display: none;}
.psTabPane.psActive {display: block;}
.psTabInfoBox{display: flex; align-items: center; border-radius: 1em; overflow: hidden; background-color: var(--primary-400);}
.psTabImg{max-width: 516px; width: 100%;}
.psTabInfo{max-width: 860px; padding-left:3.5em; }
.psTabInfo > h2{font-size: var(--fs-h3); margin-bottom: 0.75em;}
.psTabInfo > p{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; color: var(--black);}

.psHotWaterContent{display: flex; justify-content: space-between; align-items: center;}
.psHotWaterInfo{max-width: 600px; width: 100%;}
.psHotWaterImg{max-width: 700px; width: 100%;}
.psHotWaterSec{padding: 2.62em 0;}
.psHotWaterHeading{margin-bottom: 2.5em;}
.psHotWaterHeading > h2{margin-bottom: 16px; font-family: var(--fs-h1); letter-spacing: 0.005em; color: var(--gray-900);}
.psHotWaterHeading > p{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; color: var(--gray-700);}
.psEnergyCapSec ul li:not(:last-child) {margin-bottom: 1.5em;}
.psEnergyCapHead{display: flex; align-items: center; gap: 1em; margin-bottom: 1.5em;}
.psEnergyCapHead h3{font-size: var(--fs-h5);}
.psEnergyCapSec ul li > p{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em; color: var(--gray-700);}


.psCustomSol{background-color: var(--gray-50); padding: 10.68em 0;}
.psCustomSolInfo{display: flex; align-items: center;}
.psCustomSolHead{max-width: 50%; width: 100%; padding-right: 5em;}
.psCustomHEading{max-width: 100%;}
.psCustomHEading > h2{margin-bottom: 16px;}
.psCostumSolText{max-width: 50%; width: 100%; padding: 13.5px 0; padding-left: 5em; border-left: 1px solid var(--gray-200);}



/* ==== Product Details page ==== */
.psProDetailPageHead{background-image: url('../images/poductdetailheadban.png');}
.psProDetailPageInfo{max-width: 773px; width: 100%;}
.psProDetailPageInfo h1{max-width: 521px; margin-bottom: 16px;}

.psProdetailSliderBox{padding: 80px 0;}
.psProDetailHeading{max-width: 927px; width: 100%; padding-right: 2.5em;}
.psProDetailHeading >  h2{font-size: var(--fs-h3); color: var(--black); padding-bottom: 1em; margin-bottom: 1em; border-bottom: 1px solid var(--gray-200);}

.psProDetailVidBox{background-image: url('../images/prodetailvidbg.png'); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 14.15em 0; display: flex; align-items: center; justify-content: center;}
.psVideoPlayBtn{max-width: 114px; height: auto;}

.psProDetailFeature{background-color: var(--gray-50);}
.psProFeatureHead{margin-bottom: 1.5em;}
.psProFeatureHead h2{font-size: var(--fs-h3); color: var(--black); margin-bottom: 0;}
.psProFeatureBlock {display: flex; gap: 1em; flex-wrap: wrap;}
.psProFeatureBlock li{max-width: calc(50% - 1em); width: 100%; background-color: var(--white); padding: 2.5em;  border-radius: 1.5em;}
.psProFeatureBlock li .psProHead{display: flex; justify-content: space-between; align-items: center; margin-bottom: 2.5em;}
.psProFeatureBlock li .psProHead p{font-size: var(--fs-body); line-height: 1.3; letter-spacing: 0.005em;}

